
<div class="container text-center" id="update-agenda-form">
  <form *ngIf="!loading">
    <H3 ALIGN=CENTER>
      <FONT FACE="Arial,Helvetica">
        <FONT COLOR="#333366">
          Modify the {{meetingDate}} Agenda
        </FONT>
      </FONT>
    </H3>
    <TABLE class="table table-bordered">

      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Location&nbsp;</FONT></FONT>
</div>
</DT>
        </TD>
        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[0].text" name="Location" class="form-control" id="inputLoc" SIZE=50 placeholder="Location">
          </DT>
        </TD>
      </TR>

      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Presiding Officer</FONT></FONT>
            </div>
</DT>

        </TD>
        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[1].text" name="Presiding Officer" class="form-control" id="inputPres" SIZE=30 placeholder="Presiding Officer">
          </DT>
        </TD>
      </TR>
 
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Toastmaster</FONT></FONT>
</div></DT>
        </TD>
        <TD>          
            <input [(ngModel)]="currAgendaInfo[2].text" name="Toastmaster" class="form-control" id="inputToast" SIZE=30 placeholder="Toastmaster of the Day">        
        </TD>
      </TR>
      <tr>
        <td>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Theme</FONT></FONT>
</div>
</DT>
        </td>
        <td>
          <input [(ngModel)]="currAgendaInfo[3].text" name="Meeting Theme" class="form-control" id="inputTheme" SIZE=50 placeholder="Theme">
        </td>
      </tr>
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Inspiration&nbsp;</FONT></FONT>
</div>
</DT>
        </TD>
        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[4].text" name="Inspiration"class="form-control" id="inputInspiration" SIZE=30 placeholder="inspiration">
          </DT>
        </TD>
      </TR>
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Jokemaster&nbsp;</FONT></FONT>
</div>
</DT>
        </TD>
        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[5].text" name="Jokemaster" class="form-control" id="inputJokemaster"SIZE=30 placeholder="Jokemaster">
          </DT>
        </TD>
      </TR>
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Grammarian</FONT></FONT>
</div>
</DT>
        </TD>

        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[6].text" name="Grammarian" class="form-control" id="inputGrammarian" SIZE=30 placeholder="Grammarian">
          </DT>
        </TD>
      </TR>
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Word-of-the-day</FONT></FONT>
</div>
</DT>
        </TD>

        <TD>
          <DT><input [(ngModel)]="currAgendaInfo[7].text" name="Ah-Counter" class="form-control" id="inputAhCounter" SIZE=30 placeholder=" Ah counter"></DT>
        </TD>
      </TR>

      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Timer&nbsp;</FONT></FONT>
</div>
</DT>
        </TD>

        <TD>
          <DT><input [(ngModel)]="currAgendaInfo[8].text" name="Timer" class="form-control" id="inputTimer"SIZE=30 placeholder="Timer"></DT>
        </TD>
      </TR>

      <tr>
        <td>
          <dt>
              <div class="text-right row-spacer">Speaker 1</div>
              <div class="text-right row-spacer">Title</div>
              <div class="text-right row-spacer">Other Info</div>
          </dt>
        </td>
        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[9].text" name="Speaker 1" class="form-control" id="inputSpeaker1" SIZE=30 placeholder="Speaker1">
            <input [(ngModel)]="currAgendaInfo[10].text" name="Title of Speach 1" class="form-control" id="inputTitle1" SIZE=50 placeholder="Title1">
            <input [(ngModel)]="currAgendaInfo[11].text" name="Description of Speach 1" class="form-control" id="inputDescription1"SIZE=50 placeholder="Description of Title1">
          </DT>
        </TD>
      </tr>

      <TR>
        <TD>
          <dt>
            <div class="text-right row-spacer">Speaker 2</div>
            <div class="text-right row-spacer">Title</div>
            <div class="text-right row-spacer">Other Info</div>
          </dt>
        </TD>

        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[12].text" name="Speaker 2" class="form-control" id="inputSpeaker2" SIZE=30 placeholder="Speaker2">
            <input [(ngModel)]="currAgendaInfo[13].text" name="Title of Speach 2" class="form-control" id="inputTitle2" SIZE=50 placeholder="Title2">
            <input [(ngModel)]="currAgendaInfo[14].text" name="Description of Speach 2" class="form-control" id="inputDescription2" SIZE=50 placeholder="Description of Title2">
          </DT>
        </TD>
      </TR>
      <TR>
        <TD>
          <dt>
            <div class="text-right row-spacer">Speaker 3</div>
            <div class="text-right row-spacer">Title</div>
            <div class="text-right row-spacer">Other Info</div>
          </dt>

        </TD>

        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[15].text" name="Speaker 3" class="form-control" id="inputSpeaker3" SIZE=30 placeholder="Speaker3">
            <input [(ngModel)]="currAgendaInfo[16].text" name="Title of Speach 3" class="form-control" id="inputTitle3" SIZE=50 placeholder="Title3">
            <input [(ngModel)]="currAgendaInfo[17].text" name="Description of Speach 3" class="form-control" id="inputDescription3" SIZE=50 placeholder="Description of Title3">

          </DT>
        </TD>
      </TR>



      <TR>
        <TD>
          <dt>
            <div class="text-right row-spacer">Evaluator 1</div>
            <div class="text-right row-spacer">Evaluator 2</div>
            <div class="text-right row-spacer">Evaluator 3</div>
          </dt>
        </TD>

        <TD>
          <DT>
            <input [(ngModel)]="currAgendaInfo[19].text" name="Evaluator 1"class="form-control" id="inputEval1" SIZE=30 placeholder="Eval1">
            <input [(ngModel)]="currAgendaInfo[20].text" name="Evaluator 2" class="form-control" id="inputEval2" SIZE=30 placeholder="Eval2">
            <input [(ngModel)]="currAgendaInfo[21].text" name="Evaluator 3" class="form-control" id="inputEval3" SIZE=30 placeholder="Eval3">
          </DT>
        </TD>
      </TR>

      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">Table Topics Master</FONT></FONT>
</div>
          </DT>
        </TD>

        <TD>
          <DT><input [(ngModel)]="currAgendaInfo[18].text" name="Table Topics Master" class="form-control" id="inputTableTopicMaster"SIZE=30 placeholder="Table Topic Master"></DT>
        </TD>
      </TR>
                              
      <TR>
        <TD>
          <DT><div class="text-right row-spacer">
  <FONT FACE="Arial,Helvetica"><FONT COLOR="#333366">General Evaluator</FONT></FONT>
            </div>
</DT>
        </TD>
        <TD>
          <input [(ngModel)]="currAgendaInfo[22].text" name="General Evaluator" class="form-control" id="inputGenEval" SIZE=30 placeholder="Gen Eval">
        </TD>
      </TR>
                                   <!-- -->
    </TABLE>





    <button type="submit" (click)="update()" class="btn btn-light">Update Agenda</button>

  </form>

</div>
