<div class="container text-center" id="forget-password-section">
  <h1>Forgot Your Password?</h1>
  <p>
    Fear not, just type in your TID and an email will be sent to reset your password for your account
  </p>
  <p>
    If you don't know what your TID is please send an email to Rich Halverson
  </p>

  <div class="form-group">
     <label for="inputName">TID</label>
     <input #inputName type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="TID">
  </div>
  <button (click)="email(inputName.value)" type="submit" class="btn btn-light">Submit
  </button>

</div>
