<div class="container text-center" id="about-section">
  <h1>Forgot Your Password?</h1>
  <p>
    Did you forget your password?
  </p>
  <p>
    Fear not, just type in your username (first name) and an email will be sent to reset your password for your account
  </p>

  <div class="form-group">
     <label for="inputName">Name</label>
     <input #inputName type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="First Name">
  </div>
  <button (click)="login(inputName.value, inputPass.value)" type="submit" class="btn btn-light">Submit
  </button>
  
</div>
