<div class="container" id="update-form">
    <form *ngIf="!loading && !loggedOut">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName4">Name</label>
                <input [(ngModel)]="newMemberInfo.Name" name="Name" type="text" class="form-control" id="inputName4" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input [(ngModel)]="newMemberInfo.Email" name="Email" type="number" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTitle4">Title</label>
                <input [(ngModel)]="newMemberInfo.Title" name="Title" type="text" class="form-control" id="inputTitle4" placeholder="Title">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSpeeches4">Speeches</label>
                <input [(ngModel)]="newMemberInfo.Speeches" name="Speeches" type="number" class="form-control" id="inputSpeeches4" placeholder="Number of Speeches">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputHomePhone4">Home Phone</label>
                <input [(ngModel)]="newMemberInfo.HomePhone" name="HomePhone" type="number" class="form-control" id="inputHomePhone4" placeholder="Home Phone Number">
            </div>
            <div class="form-group col-md-6">
                <label for="inputWorkPhone4">Work Phone</label>
                <input [(ngModel)]="newMemberInfo.WorkPhone" name="WorkPhone" type="number" class="form-control" id="inputWorkPhone4" placeholder="Work Phone Number">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input [(ngModel)]="newMemberInfo.Address" name="Address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input [(ngModel)]="newMemberInfo.Address2" name="Address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input [(ngModel)]="newMemberInfo.City" name="City" type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input [(ngModel)]="newMemberInfo.Zipcode" name="Zipcode" type="text" class="form-control" id="inputZip">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comments</label>
            <textarea [(ngModel)]="newMemberInfo.Notes" name="Notes" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input [(ngModel)]="newMemberInfo.Password" name="Name" type="text" class="form-control" id="inputPassword4" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword24">Password Again</label>
                <input name="Email" type="number" class="form-control" id="inputPassword24" placeholder="Email">
            </div>
        </div>
        <button type="submit" (click)="add()" class="btn btn-light">Add Member</button>
    </form>

    <form>
        <button type="submit" (click)="deactivate()" class="btn btn-light">Deactivate Member</button>
    </form>

    <form>
        <button type="submit" (click)="delete()" class="btn btn-light">Delete Member</button>
    </form>

    <div *ngIf="!loading && loggedOut" class="text-center">
        <p> You must be logged in to view this page </p>
        <p> If you are logged in, then relog in. </p>
    </div>

</div>